body {
    background-image: url("../assets/home-bg-image.png");
}

img {
    display: block;
    margin: auto;
    padding-top: 120px;
}

p {
    font-family: helvetica;
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 0px 150px;
}

button {
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: #0072C8;
    padding: 13px 35px;
    border-radius: 3px;
    border: 0px;
    font-size: 15px;
}

button a {
    text-decoration: none;
    color: white;
}
