.center {
    text-align: center;
    margin: 100px;
    font-size: 40px;
    color: white;
}


.start-container {
    background-color: brown;
}

#activity-options {
    color: white;
    font-family: helvetica;
    font-size: 32px;
}


.activity-icons {
    display: inline-block;
}

.circle {
    width: 200px;
    height: 200px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
}





#size {
    display: none;
}





#time {
    display: none;
}




#validUser {
    display: none;

}